# Ignore local virtual environment
../.venv/
../.venv-airflow/
../.env

# Ignore large data directories
data/
out/
airflow/
*.tif
*.zip

# Python cache
__pycache__/
*.pyc

# Git
.git/
.gitignore

# Local artifacts
.DS_Store
*.log

README.md
